@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root{
    /*fonts*/
    --font-rubik: 'Rubik', sans-serif;

    /*colors*/
    --primary-color: #6E46E6;
    --secondary-color: #4A28AF;
    --bg-color: linear-gradient(100deg, #4A28AF 0%, #6E46E6 100%);
    --color-text: #717191;
    --color-white: #fff;
    

}
